*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  background: #f1f1f1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

header .item-wrapper {
  max-width: 1350px;
  width: 100%;
  height: 80px;
  margin: 0 auto;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .item-wrapper .header_logo {
  font-size: 3rem;
  line-height: 80px;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

header .item-wrapper .header_logo a {
  color: #000;
  text-decoration: none;
}

header .item-wrapper .header_logo a:visited {
  color: #000000;
}

header .item-wrapper .header_logo:hover {
  text-shadow: 3px 3px 5px #999999;
}

@media (max-width: 768px) {
  header .item-wrapper .header_logo {
    margin-left: 10px;
  }
}

header .item-wrapper .header_right .js-open_button {
  width: 40px;
  height: 40px;
  display: none;
  background: black;
  margin: 20px 10px 0;
  position: relative;
}

@media (max-width: 768px) {
  header .item-wrapper .header_right .js-open_button {
    display: block;
  }
}

header .item-wrapper .header_right .js-open_button::before {
  content: '';
  display: block;
  width: 20px;
  height: 2px;
  background: #f1f1f1;
  position: absolute;
  top: 10px;
  left: 10px;
}

header .item-wrapper .header_right .js-open_button::after {
  content: '';
  display: block;
  width: 20px;
  height: 2px;
  background: #f1f1f1;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

header .item-wrapper .header_right ul {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  header .item-wrapper .header_right ul {
    display: block;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
    text-align: center;
    background: #f1f1f1;
    -webkit-transition: .3s;
    transition: .3s;
  }
  header .item-wrapper .header_right ul.open {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

header .item-wrapper .header_right ul .close_button_wrapper {
  display: none;
  text-align: left;
}

@media (max-width: 768px) {
  header .item-wrapper .header_right ul .close_button_wrapper {
    display: block;
  }
}

header .item-wrapper .header_right ul li {
  margin: 0 10px;
  padding: 0 10px;
  border-bottom: 1px solid #000000;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

header .item-wrapper .header_right ul li:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-box-shadow: 0px 5px 5px #999999;
          box-shadow: 0px 5px 5px #999999;
}

header .item-wrapper .header_right ul li a {
  display: block;
  color: #000000;
  padding: 10px 0;
  text-decoration: none;
}

@media (max-width: 768px) {
  header .item-wrapper {
    width: 100%;
  }
}
/*# sourceMappingURL=header.css.map */